        body{
            background-color: #5E2F29;
        }
        h1{
            text-align: center;
            font-size: 50px;
            margin-bottom: 0px;
            color: #E9D5A2;
        }
        h2{
            text-align: center;
            margin-top: 5px;
            color: #E9D5A2;
            text-decoration: ;
        }
        h3{
            text-align: center;
            font-size: 26px;
            color: #E9D5A2;
        }
        .content{
            display: flex;
            
        }
        .wishlistplan{
            width: 1200px;
            border-radius: 6PX;
            height: 700px;
            margin-top: 60px;
            background-color: #E7BC91;
            overflow: auto;
            scrollbar-width: none;
            
        }
          .priority{
        width: 1050px;
        border-radius: 6px;
        height: 600px;
        margin: 20px;
        background-color: #5E2F29;
        overflow: scroll;
        scrollbar-width: none;
        display: flex;
        flex-direction: column;
    }
    .productrow{
        display: flex;
        flex-direction: row;
        gap: 15px;
        flex-wrap: wrap;
    }

        .userinput{
            
            width: 400px;
            height: 650px;
            margin-top: 60px;
            margin-left: 30px;
            background-color: #E7BC91;
            border-radius: 6px;
            display: flex;
            flex-direction: column;
            align-items:  center;
        }
        label{
            font-size: 26px;
            margin: 15px;
            color: #5E2F29;
            font-weight: bold;
        }
        input,select{
            width: 340px;
            height: 30px;
            background-color: #E9D5A2;
            border: none;
            color: #5E2F29;
        }
        .btn {
        position: relative;
        padding: 1rem 2rem;
        font-size: 1rem;
        font-weight: 600;
        color: #5E2F29;
        background: none;
        border: 2px solid #5E2F29;
        border-radius: 8px;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.3s ease;
        width: 170px;
        margin-top: 15px;
        margin-left: 0px;
    }
  
    .liquid {
        background: linear-gradient(#5E2F29 0 0) no-repeat calc(200% - var(--p, 0%)) 100% / 200% var(--p, 0.2em);
        transition: 0.3s var(--t, 0s),
            background-position 0.3s calc(0.3s - var(--t, 0s));
    }

    .liquid:hover {
        --p: 100%;
        --t: 0.3s;
        color:#E9D5A2 ;
    }
    .priority-heading{
        font-size: 32px;
    }
    .productcard{
        background-color: #E7BC91;
        height: 410px;
        width: 300px;
        margin: 10px;
        border-radius: 6px;
    }
    img{
        height: 200px;
        width: 260px;
        margin: 20px;
        margin-bottom: 0px;
    }
    .btn2{
        background-color: #5E2F29;
        color: #E9D5A2;
        width: 260px;
        margin-left: 20px;
        margin-bottom: 10px;
        height: 35px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    .productname,.productprice{
        color: #5E2F29;

    }
    .productname{
        float: left;
        margin-left: 20px;
        margin-top: 5px;
    }
    .productprice{
        float: right;
        margin-right: 20px;
        margin-top: 5px;
    }
    